<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400..700;1,14..32,400..700&family=Space+Grotesk:wght@600;700&display=swap" />
<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg', v='20260427-skairova') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg', v='20260427-skairova') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='theme.css', v='20260601-review-mobile-lock') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='platform-header.css', v='20260601-brand-type') }}" />
{% include "partials/vercel_analytics.html" %}
